.card3__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 30px;
    padding-bottom: 10px;
}

.card3__profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    padding-bottom: 60px;
}

.card3__cards {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card3 {
    background-color: #f5f4fa;
    /*padding-top: 90px;
  padding-bottom: 20px;*/
}

.card3__social-menu {
    width: 206px;
    height: 56px;
    margin: auto;
}

.card3__icon-social,
.card3__social-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card3__icon-social {
    gap: 10px;
    padding-bottom: 3rem;
}

.card3__icon-social>li {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
    stroke: #afb1b8;
    fill: #afb1b8;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card3__icon-social li:not(:last-child) {
    margin-right: 10px;
}

.card3__icon-social>li:hover {
    background: #2196f3;
    fill: #ffffff;
    cursor: pointer;
}