.footer__input {
    display: flex;
    position: relative;
    margin-left: 600px;
    margin-top: -121px;
}

.footer__input-description {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #ffffff;
    position: absolute;
    top: -27px;
}

.footer__fieldset {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-top: 9px;
    margin-right: 12px;
    padding-block: 15px;
    padding-left: 16px;
}

.footer__input .modal__input:focus {
    outline: 0;
}

.footer__input .modal__input {
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    width: 97%;
    color: #ffffff;
}

.footer__input .modal__input::placeholder {
    background-color: #2f303a;
}

.footer__send-button {
    width: 200px;
    height: 50px;
    border: 0;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #eeeeee;
    position: relative;
    margin-top: 9px;
    display: flex;
}