.footer {
    &__menu {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        width: 246px;
        height: 81px;
        margin-top: 20px;
        gap: 9px;
    
        & a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.6);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
            &:hover {
                text-decoration: none;
                color: #2196f3;
        
            }
        }
    }

    &__h3 {
        padding-top: 12px;
        margin-bottom: 20px;
        margin-right: 0;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 14px;
    }
    &__social-menu {
        display: flex;
        flex-direction: column;
    }
    &__social-list {
        display: flex;
        gap: 10px;
    }
    &__social-list>li {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover svg,
        &:focus {
            cursor: pointer;
        }
    
        &:hover {
            background-color: #2196f3;
        }
    }
    &__input {
        display: flex;
        position: relative;
        margin-left: 600px;
        margin-top: -121px;
    }
    &__input-description {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: #ffffff;
        position: absolute;
        top: -27px;
    }
    &__fieldset {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        margin-top: 9px;
        margin-right: 12px;
        padding-block: 15px;
        padding-left: 16px;
    }
}











.footer__input 
.modal__input:focus {
    outline: 0;
}

.footer__input .modal__input {
    border: 0px;
    background-color: transparent;
    font-size: 16px;
    width: 97%;
    color: #ffffff;
}

.footer__input 
.modal__input::placeholder {
    background-color: #2f303a;
}

.footer__send-button {
    width: 200px;
    height: 50px;
    border: 0;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #eeeeee;
    position: relative;
    margin-top: 9px;
    display: flex;
}